.brownie {
	padding-left: 50px;
	text-align: center;

}

#market{
	margin-top: 200px;
}

#grandmaDiv{
	margin-left: 200px;
	float: left;
	height: 100px;
}
#ironchefDiv{
	margin-left: 50px;
	float: left;
}


body {
    background-image: url("../images/giphy.gif");
}